@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width:100%;
    min-height:100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding:10px;
}

.todo {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin:100px auto 20px;
    padding: 40px 30px 70px;
    border-radius:10px;
}

.todo h2 {
    color:#002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo h2 img {
    width: 30px;
    margin-left: 10px;
}

.row{
    
    display: flex;
    justify-content: center;
    align-items: center;
    background:#edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 5px;
    margin-left: auto;
}


input{
    flex:1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

button{
    border: none;
    outline: none;
    padding: 12px 50px;
    cursor: pointer;
    background-color:#ff5945 ;
    color: #fff;
    font-size: 16px;
    border-radius: 40px;
}

select{
    
    text-align:inherit;
    border: none;
    outline: none;
    padding: 12px 20px;
    cursor: pointer;
    background-color:#ff5945 ;
    color: #fff;
    font-size: 16px;
    border-radius: 40px;
}


option {
    width: 10px;
    background-color: rgb(115, 115, 115);
    /* text-align: center; */
}


/* .todo.list{
    display: flex;
    justify-content: center;
    margin-top: 100px;
} */

.todo-list ul li {
    list-style: none;
    font-size:17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor:pointer;
    position: relative;
    border-radius: 30px;
    
    margin-bottom: 10px;
}

.todo-list ul li::before{
    content: '';
    width: 28px;
    height: 28px;
    border-radius: 50%;
    position: absolute;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top:12px;
    left: 8px;


}

.todo-list ul li.checked {
    color:#555;
    text-decoration:line-through;


}

.todo-list ul li.high{
    background-color: rgba(201, 30, 30, 0.214);
}

.todo-list ul li.medium{
    background-color: rgba(230, 100, 13, 0.329);
}


.todo-list ul li.low{
    background-color: rgba(207, 216, 25, 0.329);
}

.todo-list ul li.checked::before{
    background-image: url(images/checked.png);
}

.todo-list ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    color: #555;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
}


.todo-list ul li span:hover{
    background-color: #edeef0;
}


.dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  /* prevents the strech */
    margin-bottom: 30px;
}


.ddb{
    padding: 12px 38px;
}


.dropdown-menu{
    position: absolute;
    z-index: 9;
    top:100%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 12px;
    box-shadow: 0 2px  5px 0 rgba(0,0,0,.1);
    transform: translateY(-50px);
    pointer-events: none;
    opacity: 0;
    transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
    
}

.dropdown.active > .ddb + .dropdown-menu {
    /* position: relative; */
    opacity: 1;
    /* top: 0; */
    transform: translateY(0);
    pointer-events: all;

}


.dropdown-menu a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    
 
}


@media screen and (max-width: 768px) {
    .container {
        padding: 10px 20px;
    }

    .todo {
        padding: 20px;
    }

    .todo-list ul li {
        font-size: 16px;
    }

    button {
        padding: 14px 18px;
    }

    input {
        text-align: center;
    }

    .ddb{
        padding: 14px 13px;
    }

    .dropdown{
        align-items: center;
    }
    
}
